<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #tb{
            width: 800px;
            border-collapse: collapse;
            margin: 20px auto;
        }
        #tb th{
            background-color: #0094ff;
            color: white;
            font-size: 16px;
            padding: 5px;
            text-align:center;
            border: 1px solid black;
        }
        #tb td{
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="id" >
    <input type="text" v-model="pname" @keydown.f2="addData">

    <button @click="addData">提交</button>
    <input type="text" v-focus placeholder="请输入筛选">
    <table id="tb">
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        <tr v-show="list.length==0">
            <td colspan="4">当前列表没有任何数据</td>
        </tr>
        <tr v-for="item in list " >
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ctime | datefmt('yyyy-mm-dd') }}</td>
            <td>
                <a href="#" v-on:click="del(item.id)">del</a>
            </td>
        </tr>

    </table>

</div>


</body>
<script src="vue.js"></script>
<script>
    //vue1.0提供了一个可以自定义指令的vue.directive(自定义指令名称,回调函数)
    Vue.directive('focus', {
        inserted: function (el) {
            el.focus()
        }
    });

    // Vue directive('color',{
    //     bind:function () {
    //         this.el.style.color=this.vm[this.expression];
    //     }
    // });
    //此指令已经移除
    // Vue.elementDirective('my-red',{
    //     bind:function () {
    //         this.el.style.color="red";
    //     }
    // });
    Vue.config.keyCodes.f2=113;
    console.log(Vue.config.keyCodes)
    Vue.filter('datefmt',function (input,formatstring) {
        var res='';
        var yeach=input.getFullYear();
        var moth=input.getMonth();
        var day=input.getDate();
        if (formatstring=="yyyy-mm-dd") {
            res=yeach+'-'+moth+'-'+day; //传参的写法
        }
        else {
            res=yeach+'-'+moth+'-'+day+" 03:02:12";
        }
        return res;
    });
    new Vue({
        el:"#app",
        data:{
            list:[
                {id:1,name:"奔驰",ctime:new Date}
            ],
            id:'',
            pname:'',
            sname:'' //自动同步用户输入的筛选值
        },
        methods:{
            addData:function () {
                var p={id:this.id,name:this.pname,ctime:new Date()};
                this.list.push(p);
                this.id='';
                this.pname='';
            },
            del:function (id) {
                if (!confirm("是否考虑清楚")){
                    return;

                }
                var index=this.list.findIndex(function (item){return item.id==id});
                this.list.splice(index,1);
            }
        }
    })
//    1.0中 filter by 系统过滤器
</script>
</html>